# Ignore SQLite database
*.sqlite3

# Ignore environment variables and settings
.env
local_settings.py

# Ignore logs and backups
*.log
*.bak

# Ignore virtual environments
venv/
env/
.venv/

# Ignore Python bytecode and cache files
*.pyc
__pycache__/
migrations/**/__pycache__/ # Ignore cache in migration directories

# Ignore media and static files (if not managed by a separate system like S3)
media/
static/

# Ignore IDE and editor settings
.vscode/
.idea/

# Ignore testing and coverage reports
.tox/
.coverage
htmlcov/
.pytest_cache/

# Ignore deployment files
*.tar.gz
*.zip

# Operating System specific files
.DS_Store # macOS
Thumbs.db # Windows